@page "/products/details"
@using Microsoft.EntityFrameworkCore
@using ClothingStoreWeb.Models
@inject IDbContextFactory<ClothingStoreWeb.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Просмотр</PageTitle>

<h1>Просмотр</h1>

<div>
    <h2>Товар</h2>
    <hr />
    @if (product is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Категория</dt>
            <dd class="col-sm-10">@product.Category?.Category_Name</dd>
            <dt class="col-sm-2">Название товара</dt>
            <dd class="col-sm-10">@product.Product_Name</dd>
            <dt class="col-sm-2">Описание товара</dt>
            <dd class="col-sm-10">@product.Product_Description</dd>
            <dt class="col-sm-2">Цена</dt>
            <dd class="col-sm-10">@product.Product_Price</dd>
            <dt class="col-sm-2">Цвет</dt>
            <dd class="col-sm-10">@product.Product_Coloring</dd>
            <dt class="col-sm-2">Путь к изображению</dt>
            <dd class="col-sm-10">@product.Product_ImagePath</dd>
        </dl>
        <div>
            <a href="@($"/products/edit?product_id={product.Product_Id}")">Изменить</a> |
            <a href="@($"/products")">Вернуться к списку</a>
        </div>
    }
</div>

@code {
    private Product? product;

    [SupplyParameterFromQuery]
    private int Product_Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        product = await context.Products
            .Include(p => p.Category)
            .FirstOrDefaultAsync(m => m.Product_Id == Product_Id);

        if (product is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }
}
