@page "/employees/delete"
@using Microsoft.EntityFrameworkCore
@using ClothingStoreWeb.Data
@using ClothingStoreWeb.Models
@inject IDbContextFactory<ClothingStoreWeb.Data.ApplicationDbContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Удаление</PageTitle>

<h1>Удаление</h1>

<p>Вы уверены, что хотите удалить этот элемент?</p>
<div>
    <h2>Сотрудник</h2>
    <hr />
    @if (employee is null)
    {
        <p><em>Загрузка...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Пользователь</dt>
            <dd class="col-sm-10">@(employee.User is null ? employee.User_Id : GetUserDisplayName(employee.User))</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Должность</dt>
            <dd class="col-sm-10">@employee.Employee_Position</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Зарплата</dt>
            <dd class="col-sm-10">@employee.Employee_Salary</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Дата приёма на работу</dt>
            <dd class="col-sm-10">@employee.Employee_HireDate</dd>
        </dl>
        <EditForm method="post" Model="employee" OnValidSubmit="DeleteEmployee" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(employee is null)">Удалить</button> |
            <a href="/employees">Вернуться к списку</a>
        </EditForm>
    }
</div>

@code {
    private Employee? employee;

    [SupplyParameterFromQuery]
    private int Employee_Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        employee = await context.Employees
            .Include(e => e.User)
            .FirstOrDefaultAsync(m => m.Employee_Id == Employee_Id);

        if (employee is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private string GetUserDisplayName(ApplicationUser user) => !string.IsNullOrWhiteSpace(user.UserFullName) ? user.UserFullName : user.Email ?? user.Id;

    private async Task DeleteEmployee()
    {
        using var context = DbFactory.CreateDbContext();
        context.Employees.Remove(employee!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/employees");
    }
}
